.

@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
:root{
    --branco: white;
    --cor-de-fundo: beige;
    --fundo-senha: blue;
    --fundo-texto: #363636;
    --borda:#DCDCDC;
    --roboto:"roboto", sans-serif;
    --roboto-mono: "roboto mano", monospace;
}

*{
    font-weight: 400;
}

body{
    color:var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundatio{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
    margin-top: 88px;
}

.conteudo-senha{
    margin-top: 88px;
    background: var(--fundo-senha);
    padding: 24px;
    border-bottom: 6px solid var(--borda);
}

#campo-senha{
    background-color: (--fundo-senha);
    border:nome;
}

#campo-senha{
    border:nome;
    color: var(--branco);
    font-family: VAR(--roboto-mono);
    font-size: 48px;
    width: 78%;
}

#campo-senha:focus{
    outline: nome;
}

.conteudo{
    max-width: 1200px;
    margin: auto;
}

.parametro{
    background-color: var(--fundo-texto);
    border: 2px solid var(--borda);
    margin-top: 32px;
    padding: 24px;
}

